.bla:hover{
    background-color: grey
}

.bb{
    margin-right: 10%;height:100%;position: relative;
}
item{
    font-weight: bold;background-color: gray
}
.c{
    margin-left: 5%
}
.b{
    margin-left: 3%
 
}